//- .nav - модуль навигации
//- mixin nav(active, ...items)
//- 	nav.nav
//- 		each item in items
//- 			- for(var key in item) {
//- 				if active == key
//- 					a(href=key).is-active= item[key]
//- 				else
//- 					a(href=key)= item[key]
//- 			- }

mixin nav(items)
	nav.nav
		each item in items
			if item.active == true
				a(href=item.link).is-active= item.name
			else
				a(href=item.link)= item.name
	// /nav.nav

//- .breadcrumb - модуль хлебные крошки
mixin breadcrumb(breadcrumbs)
	nav.breadcrumb
		ul
			each breadcrumb in breadcrumbs
				if  breadcrumb.url
					li: a(href=breadcrumb.url) #{breadcrumb.name}
				else
					li #{breadcrumb.name}

//- .iconsvg - модуль svg sprite
mixin iconsvg(iconName, state)
	svg.iconsvg(class="iconsvg-" + iconName, class=state ? state: '')
		use(xlink:href="#" + iconName)